<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registro de Usuario</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<div class="container">
    <h1>Nochevieja 2025 - La Villa</h1>
    <p><i class="fas fa-user icon"></i><strong>Nombre:</strong> <span th:text="${nombre}">Nombre</span></p>
    <p><i class="fas fa-id-card icon"></i><strong>NIF:</strong> <span th:text="${nif}">NIF</span></p>
</div>
</body>
</html>
